html
  body
    .vertical-center
      .vertical-el
        p
          a(href='/home') Home
          |  > 
          a(href='/about') About
        br
        p(style='color: #a9a9a9;') Duplicate sections
        p
          a(href='/section/one') Section 1
          |  > 
          a(href='/section/two') Section 2
        br
        p(style='color: #a9a9a9;') Sub sections
        p
          strong Gallery
        p
          a(href='/gallery/one') Gallery 1
          |  > 
          a(href='/gallery/two') Gallery 2
