html
  body
    .js-component-foo
    .js-component-bar
      .js-component-bar-foo
      .js-component-bar-foo
      .js-component-bar-foo
    .vertical-center
      .vertical-el
        p
          strong Home caca
          |  > 
          a(href='/about') About caca
        br
        p(style='color: #a9a9a9;') Duplicate sections caca
        p
          a(href='/section/one') Section 1 caca
          |  > 
          a(href='/section/two') Section 2 caca
        br
        p(style='color: #a9a9a9;') Sub sections
        p
          a(href='/gallery') Gallery
        p
          a(href='/gallery/one') Gallery 1
          |  > 
          a(href='/gallery/two') Gallery 2
